.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .logo {
        margin-bottom: 60px;
    }

    .navbar {
        flex: 1;
    }

    .copyright {
        font-size: 1.4rem;
        font-weight: 400;
    }
}
